@import "vars";
@import "vendor/reset";

html {
    font-size: 10px;
}

body {
    background-color: $white;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.1;
    color: $black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";









