.action {
    padding: 2.9rem 0 2.1rem;
    margin: 0 -20px;

    background-color: $gray-bg;
}

.action__inner {
    display: flex;
    flex-wrap: wrap;
}

.action__col {
    width: 33.33333%;
    padding: 0 20px;
    display: flex;
}

.action__item {
    display: flex;
    margin-bottom: 1.5rem;


    background-color: $white;
}

.action__img {
    min-height: 24rem;
}

.action__content {
    font-family: inherit;
    padding: 4.6rem 0 4.9rem 2rem;
}

.action__link {
    font-family: inherit;
    font-weight: 700;
    font-size: 3rem;
    color: $black;
    text-decoration: none;


    transition: color .2s linear;

    &:hover {
        color: $gray;
        text-decoration: underline;
    }
}

.action__text {
    font-weight: 300;
    color: $black;
    font-size: 1.6rem;

    margin-top: 3rem;

}
