<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <a class="nav__link" href="#">КАТАЛОГ</a>
                <a class="nav__link" href="#">SALE</a>
                <a class="nav__link" href="#">ОПТ</a>
                <a class="nav__link" href="#">О НАС</a>
                <a class="nav__link" href="#">ОТЗЫВЫ</a>
                <a class="nav__link" href="#">ДОСТАВКА И ОПЛАТА</a>
                <a class="nav__link" href="#">КОНТАКТЫ</a>
            </nav>

            <a class="nav__logo" href="#" >
                <a class="nav__logo-icon" href="#">
                    <svg class="nav-product__link-logo">
                        <use xlink:href="#logo"></use>
                    </svg>
                </a>
            </a>

            <nav class="nav-product">
                <a class="nav-product__link" href="#">
                    <svg class="nav-product__link-ikon">
                        <use xlink:href="#search"></use>
                    </svg>
                </a>
                <a class="nav-product__link" href="#">
                    <svg class="nav-product__link-ikon">
                        <use xlink:href="#heart"></use>
                    </svg>
                </a>
                <a class="nav-product__link" href="#">
                    <svg class="nav-product__link-ikon">
                        <use xlink:href="#cart"></use>
                    </svg>
                </a>
                <a class="nav-product__link" href="#">
                    <svg class="nav-product__link-ikon">
                        <use xlink:href="#login"></use>
                    </svg>
                </a>
            </nav>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
